---
import Button from "./Button.astro";
---

<nav>
  <ul>
    <li>
      <a href="">Home</a>
    </li>
    <li>
      <a href="">About</a>
    </li>
    <li>
      <Button />
    </li>
  </ul>
</nav>

<style>
  /* @import "https://unpkg.com/open-props"; */
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  a {
  }
</style>
